/*Table Styling*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
#prod-table {
    border-collapse: collapse;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 14px;
}

.tit-holder button {
    position: relative;
    height: 32px;
    border: none;
    width: 192px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    background: #ff3b3f;
    font-family: 'Public Sans', sans-serif;
    top: 7px;
}
.tot-val{
    font-size: 13px;
    position: absolute;
    width: 100%;
    margin-left: 102px;
    margin-top: 26px;
    color: #2b6777;
}
th, td {
    border: -1px;
}
th {
    background-color: #52ab98;
    color: white;
}

tbody:nth-child(even) tr:nth-child(odd) {
    background-color: #c8d8e4;
}
.pname-s {
    color: #2b6777;
}
.btn-wrapper-ed {
    background: #32639d;
    color: #fff;
}
tbody:nth-child(even) tr:nth-child(odd) .btn-wrapper-ed {
    background-color: #1b4d89;
}
.coin {
    position: relative;
    top: 0px;
    right: 6px;
    height: 12px;
}
