/*Table Styling*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
#prod-table {
    border-collapse: collapse;
    position: absolute;
    top: 77px;
    text-align: center;
    font-size: 25px;
}

.tit-holder button {
    position: relative;
    height: 45px;
    border: none;
    width: 343px;
    border-radius: 5px;
    font-size: 21px;
    color: #fff;
    background: #ff3b3f;
    font-family: 'Public Sans', sans-serif;
    top: -3px;
}
.tot-val{
    font-size: 21px;
    position: absolute;
    width: 100%;
    margin-left: 102px;
    margin-top: 42px;
    color: #2b6777;
    text-shadow: 1px 1px 2px #fff;
}
th, td {
    border: -1px;
}
th {
    background-color: #52ab98;
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #c8d8e4;
}
.pname-s {
    color: #2b6777;
}
.btn-wrapper-ed {
    background: #32639d;
    color: #fff;
}
tbody tr:nth-child(even) .btn-wrapper-ed {
    background-color: #1b4d89;
}
.coin {
    position: relative;
    top: -3px;
    right: 6px;
}
